@import "variables";

html {
  box-sizing: border-box;
}

body {
  font-size: var(--default-font-size);
  color: var(--default-color);
  background-color: var(--default-background-color);
}

* {
  &,
  &::before,
  &::after {
    // Inherit from parent (set to `border-box` in `html`, see below)
    // This allow easy override and may avoid conflicts with external content
    box-sizing: inherit;
  }
}
