:root {
  --default-color: #c3c6db;
  --important-text-color: #333333;

  --default-background-color: #f5f5f5;
  --important-background-color: white;

  --primary-color: #fd7c77;
  --reverse-primary-color: white;

  --default-box-shadow: 0 0.1875em 0.125em rgba(0, 0, 0, 0.04),
    0 0.4375em 0.3125em rgba(0, 0, 0, 0.02);
}
